<div id="new-game">
    <h2>I want to play:</h2>
    <div>
        <div id="a2a-box-div" class="game-box-div">
            <button class="game-box-button" ng-click="ngc.gameTypeApples = true">
                <img ng-class="{shaded: !ngc.gameTypeApples}" src="images/a2a_box.jpg">
            </button>
        </div>
        <div id="cah-box-div" class="game-box-div">
            <button class="game-box-button" ng-click="ngc.gameTypeApples = false">
                <img ng-class="{shaded: ngc.gameTypeApples}" src="images/cah_box.jpg">
            </button>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div id="new-game-div">
        <button id="new-game-button" ng-click="ngc.startGame()">Start New Game</button>
    </div>
    <h2>&mdash; or &mdash;</h2>
    <h2>Join one of the following games:</h2>
    <div>
        Game list goes here.
    </div>
</div>
