<div id="new-game-div">
    <h2>New Game &mdash; Game ID {{ngc.currentGame.gameId}}</h2>
    <img ng-show="ngc.currentGame.gameTypeApples" src="images/a2a_box.jpg">
    <img ng-show="!ngc.currentGame.gameTypeApples" src="images/cah_box.jpg">
    <hr>
    <h2>Choose a name for this game:</h2>
    <input id="game-name-input" type="text" placeholder="Enter game name" ng-model="ngc.gameName" ng-change="ngc.onGameNameChange()">
    <h2>Choose a player name:</h2>
    <input id="player-name-input" type="text" placeholder="Enter unique player name" ng-model="ngc.playerName" ng-change="ngc.onPlayerNameChange()">
    <hr>
    <h2>Players:</h2>
        <table>
            <tr>
                <!--<th>Socket</th>-->
                <th>Player Name</th>
                <th>Self</th>
                <th>Host</th>
            </tr>
            <tr ng-repeat="player in ngc.playerList">
                <!--<td>{{player.socketId}}</td>-->
                <td>&nbsp;{{player.playerName}}&nbsp;</td>
                <td><img src="images/blue_checkmark.png" ng-show="$index === ngc.mePlayerIndex"></td>
                <td><img src="images/blue_checkmark.png" ng-show="$index === ngc.hostPlayerIndex"></td>
            </tr>
        </table>
    <br>
    <hr>
    <h2>When you have named the game,</h2>
    <h2>and all players have joined:</h2>
    <button ng-disabled="ngc.gameOver || !ngc.gameName || (ngc.playerList.length < 3)"
            ng-click="ngc.onLaunchButton()">Launch The Game</button>
</div>
