<div id="play-game-div">
    <h2 class="page-title">Play Game &mdash; Game ID {{pgc.currentGame.gameId}}</h2>
    <div>
        <h4>Players:</h4>
        <div id="players-div">
            <div class="player-div" ng-repeat="player in pgc.playerList">
                <h4 class="player-name">{{player.playerName}}</h4>
                <p class="player-score">Score: {{player.score}}</p>
                <p class="player-flags">
                    <span ng-show="player.self">Me</span>
                    <span ng-show="!player.self">&nbsp;</span>
                    <span ng-show="player.host">Host</span>
                    <span ng-show="!player.host">&nbsp;</span>
                    <span ng-show="player.up" class="player-up">Up</span>
                    <span ng-show="!player.up">&nbsp;</span>
                </p>
            </div>
        </div>
    </div>
    <div id="status-div">
        <h4>Status: {{pgc.gameStatus}}</h4>
    </div>
    <div id="hand-div">
        <h4>Hand:</h4>
        <div ng-repeat="card in pgc.handCardList">
            <div class="ordinal" ng-show="card.ordinal">
                {{card.ordinal}}
            </div>
            <div class="card answer-card answer-card-front" ng-click="pgc.onHandCardClick($index)">
                <p ng-bind-html="card.title" class="answer-card-title" ng-class="pgc.gameTypeClass"></p>
                <p ng-bind-html="card.text" class="answer-card-text" ng-class="pgc.gameTypeClass"></p>
            </div>
        </div>
        <button ng-click="pgc.onResetButton()">Reset Selection</button>
        <button ng-click="pgc.onPlayButton()" ng-enabled="pgc.handCardsSelected === pgc.questionCard.pick">Play Card(s)</button>
    </div>
    <div id="board-div">
        <h4>Board:</h4>
        <p>Question card for {{pgc.upPlayerName}}
            <span ng-show="pgc.questionCard.pick > 1">, Pick {{pgc.questionCard.pick}} answers.</span>
        </p>
        <div class="card question-card question-card-front" ng-class="pgc.gameTypeClass">
            <p ng-bind-html="pgc.questionCard.title" class="question-card-title" ng-class="pgc.gameTypeClass"></p>
            <p ng-bind-html="pgc.questionCard.text" class="question-card-text" ng-class="pgc.gameTypeClass"></p>
        </div>
        <hr>
        <div class="card answer-card" ng-repeat="card in pgc.guesses" ng-class="pgc.gameTypeClass">
            <div ng-show="pgc.guessesRevealed">
                <p ng-bind-html="card.title" class="answer-card-title" ng-class="pgc.gameTypeClass"></p>
                <p ng-bind-html="card.text" class="answer-card-text" ng-class="pgc.gameTypeClass"></p>
            </div>
            <div ng-show="!pgc.guessesRevealed" class="answer-card-back">
            </div>
        </div>
    </div>
    <div>
        <h4>History:</h4>
        <div id="history-div">
            <p ng-repeat="history in pgc.historyList">{{history}}</p>
        </div>
    </div>
</div>
